@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --background-color: rgba(255, 255, 255, 0.486);
}

body {
  padding: 50px;
  margin: 0;
  background-image: linear-gradient(
    45deg,
    rgb(72, 152, 164),
    rgb(221, 246, 255)
  );
  background-size: cover;
  backdrop-filter: blur(100px);
  background-attachment: fixed;
}
section {
  display: flex;
  flex-direction: column;
}
* {
  font-family: Roboto;
  color: white;
}
ul {
  margin: 0;
}
li {
  font-size: 2em;
}
h1 {
  margin: 0;
  padding-top: 5vh;
  font-size: 5em;
}
h2 {
  font-size: 3em;
}
p {
  font-size: 2em;
}
button {
  all: unset;
  display: flex;
  justify-content: center;
  background-color: var(--background-color);
  border-radius: 10px;
  font-size: 2em;
  font-weight: bold;
  width: max-content;
  height: max-content;
  padding: 10px;
}
button:hover {
  cursor: pointer;
}
.box-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.background {
  position: sticky;
  z-index: -1;
  top: 0;
  height: 0;
}

.content-container {
  background-color: var(--background-color);
  border-radius: 10px;
  width: 50vh;
  height: 50vh;
  padding: 20px;
  box-shadow: 0 0 10px white;
}
.left {
  margin-left: 10vw;
}
.right {
  margin-right: 10vw;
  align-self: flex-end;
}
.content-title {
  margin: 0;
  font-size: 3em;
}
.content li {
  font-size: 1.8em;
}
.back-button {
  margin: 5vh;
  width: 20vh;
  align-self: center;
  justify-self: center;
}
