@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --background-color: rgba(255, 255, 255, 0.486);
}

body {
  padding: 0;
  margin: 0;
}
section {
  height: 100dvh;
  max-height: 100dvh;
  margin-inline: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

* {
  font-family: Roboto;
  color: white;
}
ul {
  margin: 0;
  padding-left: 20px;
}
.foreground {
}
.background {
  position: sticky;
  z-index: -1;
  top: 0;
  height: 0;
}

h1 {
  margin: 0;
}
.content-container {
  background-color: var(--background-color);
  border-radius: 10px;
  width: 40vh;
  height: 50vh;
  padding: 20px;
}
.left {
  margin-left: 10vw;
}
.right {
  margin-right: 10vw;
  align-self: flex-end;
}
.content-title {
  margin: 0;
  font-size: 3em;
}
.content li {
  font-size: 2em;
}
