body {
  padding: 0;
}
section {
  height: 100dvh;
  max-height: 100dvh;
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  margin: 0;
}
.hero-title {
  font-size: 5em;
  margin: 5vw;
}
.square {
  position: relative;
  background-color: aqua;
  height: 10dvw;
  width: 10dvw;

  border-radius: 10px;
  box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.414);
}

.triangle-up {
  position: relative;
  width: 0;
  height: 0;
  border-left: 5dvw solid transparent;
  border-right: 5dvw solid transparent;
  border-bottom: 10dvw solid aqua;
}

#triangle {
  top: 40vh;
  margin-left: 80vw;
}

#square-left {
  top: 10vh;
  left: 20vw;
  animation: square-left-projects linear;
  animation-timeline: scroll();
}
#square-right {
  top: 20vh;
  left: 80vw;
  animation: square-right-projects linear;
  animation-timeline: scroll();
}

@keyframes square-left-projects {
  16% {
    top: 50vh;
    left: 50vw;
    transform: rotate(360deg);
  }
  33% {
    top: 80vh;
  }
  50% {
    top: 50vh;
  }
  66% {
    top: 90vh;
  }
}
@keyframes square-right-projects {
  10% {
    top: 2vh;
    transform: rotate(120deg);
  }
  16% {
    top: 2vh;
    left: 80vw;
    transform: rotate(120deg);
  }
  33% {
    top: 5vh;
    left: 10vw;
    transform: rotate(0deg);
  }
  50% {
    top: 80vh;
  }
  66% {
    top: 90vh;
  }
}
.image-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
#portrait-picture {
  height: 50vh;
}

#section-skills {
  justify-content: flex-start;
}
.box-section {
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
}

.skills-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 100%;
}
@media (min-width: 800px) {
  /* .skills-list {
    justify-content: flex-start;
  }
  .skill-element {
    height: 15vh;
    width: 15vh;
  }
  #section-skills .content-title {
    font-size: 10vw;
  } */
}
#project-container {
  margin-bottom: auto;
  margin-left: auto;
}
.skill-element {
  margin: 2vh;
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 10px;
  height: 15vw;
  width: 15vw;
  background-color: var(--background-color);
}
.skill-element img {
  opacity: 0.7;
  max-height: 15vw;
  max-width: 15vw;
}
.skill-name {
  opacity: 0;
  pointer-events: none; /* verhindert Hover-Probleme */
  transition: opacity 0.3s;
  justify-self: center;
  align-self: center;
  text-align: center;
  margin-inline: auto;
  z-index: 2;
  position: absolute;
  color: rgb(255, 255, 255);
  font-weight: bold;
  width: 15vw;
  background-color: rgba(41, 41, 41, 0.496);
  padding-block: 3px;
  box-shadow: 0 0 5px 0px #555;
}
.skill-element:hover > .skill-name {
  opacity: 1;
}
#typescript .skill-img {
  height: 10vh;
  align-self: center;
  display: none;
}
#typescript-logo,
#html-logo,
#camera-image {
  margin: 1vw;
}
#section-resume-container {
  display: flex;
  flex-direction: row;
}
#section-resume-container .content-container {
  margin-inline: 10vw;
  justify-content: space-between;
}
#repo-list {
  padding-left: 5vw;
}
#section-more {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#vie-more-button {
  justify-self: center;
}

@media (max-width: 850px) {
  #section-about-me {
    flex-direction: column !important;
    align-items: center;
    padding: 12vh;
  }
  .image-container,
  #about-me-box {
    margin-block: 3vh;
  }
  .content-container {
    margin-inline: 0;
  }
  #section-projects {
    /* flex-direction: column !important; */
    align-items: center;
    justify-content: center;
  }
  #project-container {
    margin-inline: 0;
  }
}

@media (max-width: 1050px) {
  #section-resume-container {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  #section-resume-container .content-container {
    margin-block: 3vh;
    margin-inline: 0;
  }
}
