body {
  background-image: linear-gradient(
    45deg,
    rgb(72, 152, 164),
    rgb(221, 246, 255)
  );
  background-size: cover;
  backdrop-filter: blur(100px);
  background-attachment: fixed;
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  margin: 0;
}
.hero-title {
  font-size: 5em;
  margin: 5vw;
}
.square {
  position: relative;
  background-color: aqua;
  height: 10dvw;
  width: 10dvw;

  border-radius: 10px;
  box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.414);
}

.triangle-up {
  position: relative;
  width: 0;
  height: 0;
  border-left: 5dvw solid transparent;
  border-right: 5dvw solid transparent;
  border-bottom: 10dvw solid aqua;
}

#triangle {
  top: 40vh;
  margin-left: 80vw;
}

#square-left {
  top: 10vh;
  left: 20vw;
  animation: square-left-projects linear;
  animation-timeline: scroll();
}
#square-right {
  top: 20vh;
  left: 80vw;
  animation: square-right-projects linear;
  animation-timeline: scroll();
}

@keyframes square-left-projects {
  50% {
    top: 50vh;
    left: 70vw;
    transform: rotate(360deg);
  }
  100% {
    top: 80vh;
  }
}
@keyframes square-right-projects {
  40% {
    top: 2vh;
    transform: rotate(120deg);
  }
  50% {
    top: 2vh;
    left: 80vw;
    transform: rotate(120deg);
  }
  100% {
    top: 5vh;
    left: 10vw;
    transform: rotate(0deg);
  }
}

#section-skills {
  justify-content: flex-start;
}

.skills-list {
  display: flex;
  justify-content: space-around;
}
@media (min-width: 800px) {
  .skills-list {
    justify-content: flex-start;
  }
  .skill-element {
    height: 15vh;
    width: 15vh;
  }
  #section-skills .content-title {
    font-size: 10vw;
  }
}
.skill-element {
  margin: 2vh;
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 10px;
  height: 15vw;
  width: 15vw;
  background-color: var(--background-color);
}
.skill-element img {
  opacity: 0.7;
  max-height: 15vw;
  max-width: 15vw;
}
.skill-name {
  opacity: 0;
  pointer-events: none; /* verhindert Hover-Probleme */
  transition: opacity 0.3s;
  justify-self: center;
  align-self: center;
  text-align: center;
  margin-inline: auto;
  z-index: 2;
  position: absolute;
  color: rgb(255, 255, 255);
  font-weight: bold;
  width: 15vw;
  background-color: rgba(41, 41, 41, 0.496);
  padding-block: 3px;
  box-shadow: 0 0 5px 0px #555;
}
.skill-element:hover > .skill-name {
  opacity: 1;
}
#typescript .skill-img {
  height: 10vh;
  align-self: center;
  display: none;
}
#typescript-logo,
#html-logo {
  margin: 1vw;
}
#repo-list {
  padding-left: 5vw;
}
